body {
    display: grid;
    height: 96vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr 1fr 1fr;
    gap: 1vh;
    font-family: 'Indie Flower', sans-serif;
    color: #56949f;
}

header, footer, footer > h2, .bottom-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

header, footer {
    grid-column: 1/3;
}

header {
    background-color: #f2e9de;
    grid-row: 1/2;
    margin-top: -10px;
}

nav {
    background-color: #fffaf3;
    grid-column: 1/2;
    grid-row: 1/4;
    margin-left: -10px;
    padding-left: 50px;
}


.about {
    display: flex;
    grid-row: 4/5;
    justify-content: flex-end;
}

.about > h2{
    margin: 0px 36px;
}

footer {
    background-color: #f2e9de;
    grid-row: 3/5;
    margin: -10px;
}

footer > h2 {
    align-self: center;
    flex-basis: 100%;
    margin-bottom: 1px;
    margin-top: 1px;
}

.icons {
    display: flex;
}

img {
    width: 3em;
    height: 3em;
}

main {
    background-color: #f2e9de;
    grid-column: 2/3;
    grid-row: 2/3;

    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    margin: -9px;
}

button {
    color: white;
    height: 2em;
    margin: 1em;
}

button[title="New Note"], button[title="Save"] {
    background-color: #56949f;
    font-size: 16px;
    border-radius: 12px;
    padding-top: 30px;
    padding-bottom: 50px;

}

button[title="Dark Theme"] {
    background-color: #575279;
    font-size: 16px;
    border-radius: 12px;
    padding-top: 30px;
    padding-bottom: 50px;
}

button[title="Cancel"] {
    background-color: #b4637a;
    font-size: 16px;
    border-radius: 12px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.top-buttons {
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
}

.top-buttons > button {
    width: 8em;
}

.bottom-buttons {
    grid-column: 1/2;
    grid-row: 3/4;
    justify-content: flex-end;
}

.bottom-buttons > button {
    width: 6em;
}
